#button {
    text-align: center;
}

#main{
    margin-top: 200px;
}

#weatherData{
    padding-top: 20px;
    display: inline-block;
    width: 100%;
}

#weatherData h3 {

    float: left;
}

.loader.preloader-wrapper.big {
    display: block;
    margin: 0 auto;
    z-index: 99;
}

#tabs {
    display: none;
    padding-top: 20px;
}