#button {
    text-align: center;
}

#main{
    margin-top: 200px;
}

#weatherData{
    display: inline-block;
}

#weatherData h3 {

    float: left;
}

.loader.preloader-wrapper.big {
    display: block;
    margin: 0 auto;
    z-index: 99;
}